Load the data

In [21]:
import pandas as pd

def load_local_file(file_path):
    local_df = pd.read_csv(file_path)
    return local_df 
    
finance_df = load_local_file('loan_payments.csv')   
print(finance_df.head())
print(finance_df.dtypes)
print(finance_df.info())

         id  member_id  loan_amount  funded_amount  funded_amount_inv  \
0  38676116   41461848         8000         8000.0             8000.0
1  38656203   41440010        13200        13200.0            13200.0
2  38656154   41439961        16000        16000.0            16000.0
3  38656128   41439934        15000        15000.0            15000.0
4  38656121   41439927        15000        15000.0            15000.0

        term  int_rate  instalment grade sub_grade  ... recoveries  \
0  36 months      7.49      248.82     A        A4  ...        0.0
1  36 months      6.99      407.52     A        A3  ...        0.0
2  36 months      7.49      497.63     A        A4  ...        0.0
3  36 months     14.31      514.93     C        C4  ...        0.0
4  36 months      6.03      456.54     A        A1  ...        0.0

  collection_recovery_fee  last_payment_date last_payment_amount  \
0                     0.0           Jan-2022              248.82
1                     0.0           Jan-2022              407.52
2                     0.0           Oct-2021            12850.16
3                     0.0           Jun-2021            13899.67
4                     0.0           Jan-2022              456.54

  next_payment_date last_credit_pull_date collections_12_mths_ex_med  \
0          Feb-2022              Jan-2022                        0.0
1          Feb-2022              Jan-2022                        0.0
2               NaN              Oct-2021                        0.0
3               NaN              Jun-2021                        0.0
4          Feb-2022              Jan-2022                        0.0

  mths_since_last_major_derog  policy_code  application_type
0                         5.0            1        INDIVIDUAL
1                         NaN            1        INDIVIDUAL
2                         NaN            1        INDIVIDUAL
3                         NaN            1        INDIVIDUAL
4                         NaN            1        INDIVIDUAL

[5 rows x 43 columns]
id                               int64
member_id                        int64
loan_amount                      int64
funded_amount                  float64
funded_amount_inv              float64
term                            object
int_rate                       float64
instalment                     float64
grade                           object
sub_grade                       object
employment_length               object
home_ownership                  object
annual_inc                     float64
verification_status             object
issue_date                      object
loan_status                     object
payment_plan                    object
purpose                         object
dti                            float64
delinq_2yrs                      int64
earliest_credit_line            object
inq_last_6mths                   int64
mths_since_last_delinq         float64
mths_since_last_record         float64
open_accounts                    int64
total_accounts                   int64
out_prncp                      float64
out_prncp_inv                  float64
total_payment                  float64
total_payment_inv              float64
total_rec_prncp                float64
total_rec_int                  float64
total_rec_late_fee             float64
recoveries                     float64
collection_recovery_fee        float64
last_payment_date               object
last_payment_amount            float64
next_payment_date               object
last_credit_pull_date           object
collections_12_mths_ex_med     float64
mths_since_last_major_derog    float64
policy_code                      int64
application_type                object
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54231 entries, 0 to 54230
Data columns (total 43 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           54231 non-null  int64
 1   member_id                    54231 non-null  int64
 2   loan_amount                  54231 non-null  int64
 3   funded_amount                51224 non-null  float64
 4   funded_amount_inv            54231 non-null  float64
 5   term                         49459 non-null  object
 6   int_rate                     49062 non-null  float64
 7   instalment                   54231 non-null  float64
 8   grade                        54231 non-null  object
 9   sub_grade                    54231 non-null  object
 10  employment_length            52113 non-null  object
 11  home_ownership               54231 non-null  object
 12  annual_inc                   54231 non-null  float64
 13  verification_status          54231 non-null  object
 14  issue_date                   54231 non-null  object
 15  loan_status                  54231 non-null  object
 16  payment_plan                 54231 non-null  object
 17  purpose                      54231 non-null  object
 18  dti                          54231 non-null  float64
 19  delinq_2yrs                  54231 non-null  int64
 20  earliest_credit_line         54231 non-null  object
 21  inq_last_6mths               54231 non-null  int64
 22  mths_since_last_delinq       23229 non-null  float64
 23  mths_since_last_record       6181 non-null   float64
 24  open_accounts                54231 non-null  int64
 25  total_accounts               54231 non-null  int64
 26  out_prncp                    54231 non-null  float64
 27  out_prncp_inv                54231 non-null  float64
 28  total_payment                54231 non-null  float64
 29  total_payment_inv            54231 non-null  float64
 30  total_rec_prncp              54231 non-null  float64
 31  total_rec_int                54231 non-null  float64
 32  total_rec_late_fee           54231 non-null  float64
 33  recoveries                   54231 non-null  float64
 34  collection_recovery_fee      54231 non-null  float64
 35  last_payment_date            54158 non-null  object
 36  last_payment_amount          54231 non-null  float64
 37  next_payment_date            21623 non-null  object
 38  last_credit_pull_date        54224 non-null  object
 39  collections_12_mths_ex_med   54180 non-null  float64
 40  mths_since_last_major_derog  7499 non-null   float64
 41  policy_code                  54231 non-null  int64
 42  application_type             54231 non-null  object
dtypes: float64(20), int64(8), object(15)
memory usage: 17.8+ MB
None

Transform Functions

In [22]:
class DataTransform:
    def __init__(self, dataframe) -> None:
        """
        initialises the class
        """
        self.dataframe = dataframe
        

    def remove_txt(self, column):
        """ 
        Removes superfluent text from column data
        """
        self.dataframe[column] = pd.to_numeric(self.dataframe[column].str.extract('(\d+)', expand=False))
        
        

    def correct_date_format(self):
       """
       Converts the date format of all coumns that contain a date
       """
       for column_name in self.dataframe.columns:
        if 'date' in column_name.lower():
            self.dataframe[column_name] = pd.to_datetime(self.dataframe[column_name])
    
    def correct_single_date_column(self, column_name):
       self.dataframe[column_name] = pd.to_datetime(self.dataframe[column_name])
            
    
    def type_to_category(self, column_name):
       """
       converts a column to a categorical data type
       """
       self.dataframe[column_name] = self.dataframe[column_name].astype('category')
       

mydata = DataTransform(finance_df)

In [43]:
finance_df['home_ownership'].unique()

['MORTGAGE', 'RENT', 'OWN', 'OTHER', 'NONE']
Categories (5, object): ['MORTGAGE', 'NONE', 'OTHER', 'OWN', 'RENT']

In [42]:
mydata.type_to_category('home_ownership')

In [36]:
"""
re-saves the updated DF to CSV
"""
finance_df.to_csv(r'C:\Users\Tom\EDS_Project_Loan_Finance\loan_payments_transformed.csv', index=False)

In [26]:
mydata.correct_date_format()

C:\Users\Tom\AppData\Local\Temp\ipykernel_15648\4113723130.py:14: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  self.dataframe[column_name] = pd.to_datetime(self.dataframe[column_name])
C:\Users\Tom\AppData\Local\Temp\ipykernel_15648\4113723130.py:14: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  self.dataframe[column_name] = pd.to_datetime(self.dataframe[column_name])
C:\Users\Tom\AppData\Local\Temp\ipykernel_15648\4113723130.py:14: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  self.dataframe[column_name] = pd.to_datetime(self.dataframe[column_name])
C:\Users\Tom\AppData\Local\Temp\ipykernel_15648\4113723130.py:14: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  self.dataframe[column_name] = pd.to_datetime(self.dataframe[column_name])

In [28]:
mydata.correct_single_date_column('earliest_credit_line')

C:\Users\Tom\AppData\Local\Temp\ipykernel_15648\4113723130.py:17: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  self.dataframe[column_name] = pd.to_datetime(self.dataframe[column_name])

In [31]:
mydata.remove_txt('term')

In [44]:
finance_df.dtypes

id                                      int64
member_id                               int64
loan_amount                             int64
funded_amount                         float64
funded_amount_inv                     float64
term                                  float64
int_rate                              float64
instalment                            float64
grade                                  object
sub_grade                              object
employment_length                    category
home_ownership                       category
annual_inc                            float64
verification_status                    object
issue_date                     datetime64[ns]
loan_status                            object
payment_plan                           object
purpose                              category
dti                                   float64
delinq_2yrs                             int64
earliest_credit_line           datetime64[ns]
inq_last_6mths                          int64
mths_since_last_delinq                float64
mths_since_last_record                float64
open_accounts                           int64
total_accounts                          int64
out_prncp                             float64
out_prncp_inv                         float64
total_payment                         float64
total_payment_inv                     float64
total_rec_prncp                       float64
total_rec_int                         float64
total_rec_late_fee                    float64
recoveries                            float64
collection_recovery_fee               float64
last_payment_date              datetime64[ns]
last_payment_amount                   float64
next_payment_date              datetime64[ns]
last_credit_pull_date          datetime64[ns]
collections_12_mths_ex_med            float64
mths_since_last_major_derog           float64
policy_code                             int64
application_type                       object
dtype: object

Create New Class and methods for DF Info

In [47]:
import pandas as pd

class DataFrameInfo:
    def __init__(self, dataframe):
        self.dataframe = dataframe

    def get_summary(self):
        """
        Returns a summary of the DataFrame including basic statistics.
        """
        return self.dataframe.describe()

    def get_missing_values(self):
        """
        Returns a DataFrame showing the count of missing values in each column.
        """
        return self.dataframe.isnull().sum().to_frame(name='missing_values')

    def get_data_types(self):
        """
        Returns a Series with data types of each column.
        """
        return self.dataframe.dtypes

    def get_unique_values(self, column_name):
        """
        Returns unique values in a specific column.
        """
        return self.dataframe[column_name].unique()

    def get_value_counts(self, column_name):
        """
        Returns value counts of unique values in a specific column.
        """
        return self.dataframe[column_name].value_counts()
    
    def get_shape_of_df(self):
        return self.dataframe.shape
    
    def count_distinct_values_categorical(self):
        """
        Returns the count of distinct values in categorical columns.
        Assumes categorical columns have 'category' dtype.
        """
        categorical_columns = self.dataframe.select_dtypes(include='category').columns
        distinct_values_count = {}
        for col in categorical_columns:
            distinct_values_count[col] = len(self.dataframe[col].cat.categories)
        return distinct_values_count

    def get_null_values_stats(self):
        """
        Generates a count and percentage of NULL values in each column.
        """
        null_count = self.dataframe.isnull().sum()
        null_percentage = (null_count / len(self.dataframe)) * 100
        null_stats = pd.DataFrame({
            'null_count': null_count,
            'null_percentage': null_percentage
        })
        return null_stats

df_info = DataFrameInfo(finance_df)

summary = df_info.get_summary()
print("DataFrame Summary:")
print(summary)

missing_values = df_info.get_missing_values()
print("\nMissing Values:")
print(missing_values)

data_types = df_info.get_data_types()
print("\nData Types:")
print(data_types)

unique_values_column = df_info.get_unique_values('employment_length')
print("\nUnique Values in Column:")
print(unique_values_column)

value_counts_column = df_info.get_value_counts('term')
print("\nValue Counts in Column:")
print(value_counts_column)

shape_of_df = df_info.get_shape_of_df()
print("\nShape of data is")
print(shape_of_df)

distinct_values_count = df_info.count_distinct_values_categorical()
print("\nDistinct Values Count in Categorical Columns:")
print(distinct_values_count)

# Generate count/percentage count of NULL values in each column
null_values_stats = df_info.get_null_values_stats()
print("\nNULL Values Stats:")
print(null_values_stats)

DataFrame Summary:
                 id     member_id   loan_amount  funded_amount  \
count  5.423100e+04  5.423100e+04  54231.000000   51224.000000
mean   7.621797e+06  8.655350e+06  13333.076100   13229.509117
min    5.552100e+04  7.069400e+04    500.000000     500.000000
25%    7.594330e+05  9.587720e+05   7000.000000    7000.000000
50%    7.084590e+06  8.709873e+06  12000.000000   12000.000000
75%    8.860616e+06  1.052714e+07  18000.000000   18000.000000
max    3.867612e+07  4.146185e+07  35000.000000   35000.000000
std    9.571362e+06  1.031281e+07   8082.196709    8019.017599

       funded_amount_inv          term      int_rate    instalment  \
count       54231.000000  49459.000000  49062.000000  54231.000000
mean        12952.622979     42.606199     13.507328    400.013953
min             0.000000     36.000000      5.420000     15.670000
25%          6700.000000     36.000000     10.370000    224.205000
50%         11300.000000     36.000000     13.160000    347.150000
75%         18000.000000     60.000000     16.200000    527.550000
max         35000.000000     60.000000     26.060000   1407.010000
std          8099.473527     10.719573      4.392893    238.920012

         annual_inc                     issue_date  ...  total_rec_late_fee  \
count  5.423100e+04                          54231  ...        54231.000000
mean   7.222085e+04  2018-09-17 11:41:04.855894272  ...            0.901512
min    3.300000e+03            2013-06-01 00:00:00  ...            0.000000
25%    4.500000e+04            2017-05-01 00:00:00  ...            0.000000
50%    6.100000e+04            2019-09-01 00:00:00  ...            0.000000
75%    8.600000e+04            2019-11-01 00:00:00  ...            0.000000
max    2.039784e+06            2021-01-01 00:00:00  ...          358.680000
std    5.158934e+04                            NaN  ...            6.215792

         recoveries collection_recovery_fee              last_payment_date  \
count  54231.000000            54231.000000                          54158
mean      93.501288               10.859057  2020-08-23 00:21:38.600391680
min        0.000000                0.000000            2013-12-01 00:00:00
25%        0.000000                0.000000            2019-11-01 00:00:00
50%        0.000000                0.000000            2021-04-01 00:00:00
75%        0.000000                0.000000            2022-01-01 00:00:00
max    27750.000000             7002.190000            2022-01-01 00:00:00
std      630.843636              120.193950                            NaN

       last_payment_amount              next_payment_date  \
count         54231.000000                          21623
mean           3130.706393  2021-10-18 16:47:47.613189632
min               0.000000            2014-01-01 00:00:00
25%             289.790000            2022-02-01 00:00:00
50%             562.670000            2022-02-01 00:00:00
75%            3738.120000            2022-02-01 00:00:00
max           36115.200000            2022-02-01 00:00:00
std            5323.801675                            NaN

               last_credit_pull_date  collections_12_mths_ex_med  \
count                          54224                54180.000000
mean   2021-04-15 16:16:28.964296192                    0.004208
min              2013-05-01 00:00:00                    0.000000
25%              2021-02-01 00:00:00                    0.000000
50%              2022-01-01 00:00:00                    0.000000
75%              2022-01-01 00:00:00                    0.000000
max              2022-01-01 00:00:00                    4.000000
std                              NaN                    0.070990

       mths_since_last_major_derog  policy_code
count                  7499.000000      54231.0
mean                     42.253634          1.0
min                       0.000000          1.0
25%                      26.000000          1.0
50%                      42.000000          1.0
75%                      59.000000          1.0
max                     146.000000          1.0
std                      21.052360          0.0

[8 rows x 34 columns]

Missing Values:
                             missing_values
id                                        0
member_id                                 0
loan_amount                               0
funded_amount                          3007
funded_amount_inv                         0
term                                   4772
int_rate                               5169
instalment                                0
grade                                     0
sub_grade                                 0
employment_length                      2118
home_ownership                            0
annual_inc                                0
verification_status                       0
issue_date                                0
loan_status                               0
payment_plan                              0
purpose                                   0
dti                                       0
delinq_2yrs                               0
earliest_credit_line                      0
inq_last_6mths                            0
mths_since_last_delinq                31002
mths_since_last_record                48050
open_accounts                             0
total_accounts                            0
out_prncp                                 0
out_prncp_inv                             0
total_payment                             0
total_payment_inv                         0
total_rec_prncp                           0
total_rec_int                             0
total_rec_late_fee                        0
recoveries                                0
collection_recovery_fee                   0
last_payment_date                        73
last_payment_amount                       0
next_payment_date                     32608
last_credit_pull_date                     7
collections_12_mths_ex_med               51
mths_since_last_major_derog           46732
policy_code                               0
application_type                          0

Data Types:
id                                      int64
member_id                               int64
loan_amount                             int64
funded_amount                         float64
funded_amount_inv                     float64
term                                  float64
int_rate                              float64
instalment                            float64
grade                                  object
sub_grade                              object
employment_length                    category
home_ownership                       category
annual_inc                            float64
verification_status                    object
issue_date                     datetime64[ns]
loan_status                            object
payment_plan                           object
purpose                              category
dti                                   float64
delinq_2yrs                             int64
earliest_credit_line           datetime64[ns]
inq_last_6mths                          int64
mths_since_last_delinq                float64
mths_since_last_record                float64
open_accounts                           int64
total_accounts                          int64
out_prncp                             float64
out_prncp_inv                         float64
total_payment                         float64
total_payment_inv                     float64
total_rec_prncp                       float64
total_rec_int                         float64
total_rec_late_fee                    float64
recoveries                            float64
collection_recovery_fee               float64
last_payment_date              datetime64[ns]
last_payment_amount                   float64
next_payment_date              datetime64[ns]
last_credit_pull_date          datetime64[ns]
collections_12_mths_ex_med            float64
mths_since_last_major_derog           float64
policy_code                             int64
application_type                       object
dtype: object

Unique Values in Column:
['5 years', '9 years', '8 years', '1 year', '10+ years', ..., '7 years', '3 years', '4 years', '6 years', '2 years']
Length: 12
Categories (11, object): ['1 year', '10+ years', '2 years', '3 years', ..., '7 years', '8 years', '9 years', '< 1 year']

Value Counts in Column:
term
36.0    35845
60.0    13614
Name: count, dtype: int64

Shape of data is
(54231, 43)

Distinct Values Count in Categorical Columns:
{'employment_length': 11, 'home_ownership': 5, 'purpose': 14}

NULL Values Stats:
                             null_count  null_percentage
id                                    0         0.000000
member_id                             0         0.000000
loan_amount                           0         0.000000
funded_amount                      3007         5.544799
funded_amount_inv                     0         0.000000
term                               4772         8.799395
int_rate                           5169         9.531449
instalment                            0         0.000000
grade                                 0         0.000000
sub_grade                             0         0.000000
employment_length                  2118         3.905515
home_ownership                        0         0.000000
annual_inc                            0         0.000000
verification_status                   0         0.000000
issue_date                            0         0.000000
loan_status                           0         0.000000
payment_plan                          0         0.000000
purpose                               0         0.000000
dti                                   0         0.000000
delinq_2yrs                           0         0.000000
earliest_credit_line                  0         0.000000
inq_last_6mths                        0         0.000000
mths_since_last_delinq            31002        57.166565
mths_since_last_record            48050        88.602460
open_accounts                         0         0.000000
total_accounts                        0         0.000000
out_prncp                             0         0.000000
out_prncp_inv                         0         0.000000
total_payment                         0         0.000000
total_payment_inv                     0         0.000000
total_rec_prncp                       0         0.000000
total_rec_int                         0         0.000000
total_rec_late_fee                    0         0.000000
recoveries                            0         0.000000
collection_recovery_fee               0         0.000000
last_payment_date                    73         0.134609
last_payment_amount                   0         0.000000
next_payment_date                 32608        60.127971
last_credit_pull_date                 7         0.012908
collections_12_mths_ex_med           51         0.094042
mths_since_last_major_derog       46732        86.172116
policy_code                           0         0.000000
application_type                      0         0.000000

In [54]:
columns_to_drop = ['mths_since_last_major_derog', 'mths_since_last_record', 'mths_since_last_delinq']
dropped_finance_df = finance_df.drop(columns_to_drop, axis=1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54231 entries, 0 to 54230
Data columns (total 40 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          54231 non-null  int64
 1   member_id                   54231 non-null  int64
 2   loan_amount                 54231 non-null  int64
 3   funded_amount               51224 non-null  float64
 4   funded_amount_inv           54231 non-null  float64
 5   term                        49459 non-null  float64
 6   int_rate                    49062 non-null  float64
 7   instalment                  54231 non-null  float64
 8   grade                       54231 non-null  object
 9   sub_grade                   54231 non-null  object
 10  employment_length           52113 non-null  category
 11  home_ownership              54231 non-null  category
 12  annual_inc                  54231 non-null  float64
 13  verification_status         54231 non-null  object
 14  issue_date                  54231 non-null  datetime64[ns]
 15  loan_status                 54231 non-null  object
 16  payment_plan                54231 non-null  object
 17  purpose                     54231 non-null  category
 18  dti                         54231 non-null  float64
 19  delinq_2yrs                 54231 non-null  int64
 20  earliest_credit_line        54231 non-null  datetime64[ns]
 21  inq_last_6mths              54231 non-null  int64
 22  open_accounts               54231 non-null  int64
 23  total_accounts              54231 non-null  int64
 24  out_prncp                   54231 non-null  float64
 25  out_prncp_inv               54231 non-null  float64
 26  total_payment               54231 non-null  float64
 27  total_payment_inv           54231 non-null  float64
 28  total_rec_prncp             54231 non-null  float64
 29  total_rec_int               54231 non-null  float64
 30  total_rec_late_fee          54231 non-null  float64
 31  recoveries                  54231 non-null  float64
 32  collection_recovery_fee     54231 non-null  float64
 33  last_payment_date           54158 non-null  datetime64[ns]
 34  last_payment_amount         54231 non-null  float64
 35  next_payment_date           21623 non-null  datetime64[ns]
 36  last_credit_pull_date       54224 non-null  datetime64[ns]
 37  collections_12_mths_ex_med  54180 non-null  float64
 38  policy_code                 54231 non-null  int64
 39  application_type            54231 non-null  object
dtypes: category(3), datetime64[ns](5), float64(18), int64(8), object(6)
memory usage: 15.5+ MB
None

In [95]:
print(dropped_finance_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54231 entries, 0 to 54230
Data columns (total 40 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          54231 non-null  int64
 1   member_id                   54231 non-null  int64
 2   loan_amount                 54231 non-null  int64
 3   funded_amount               54231 non-null  float64
 4   funded_amount_inv           54231 non-null  float64
 5   term                        54231 non-null  float64
 6   int_rate                    54231 non-null  float64
 7   instalment                  54231 non-null  float64
 8   grade                       54231 non-null  object
 9   sub_grade                   54231 non-null  object
 10  employment_length           54231 non-null  float64
 11  home_ownership              54231 non-null  category
 12  annual_inc                  54231 non-null  float64
 13  verification_status         54231 non-null  object
 14  issue_date                  54231 non-null  datetime64[ns]
 15  loan_status                 54231 non-null  object
 16  payment_plan                54231 non-null  object
 17  purpose                     54231 non-null  category
 18  dti                         54231 non-null  float64
 19  delinq_2yrs                 54231 non-null  int64
 20  earliest_credit_line        54231 non-null  datetime64[ns]
 21  inq_last_6mths              54231 non-null  int64
 22  open_accounts               54231 non-null  int64
 23  total_accounts              54231 non-null  int64
 24  out_prncp                   54231 non-null  float64
 25  out_prncp_inv               54231 non-null  float64
 26  total_payment               54231 non-null  float64
 27  total_payment_inv           54231 non-null  float64
 28  total_rec_prncp             54231 non-null  float64
 29  total_rec_int               54231 non-null  float64
 30  total_rec_late_fee          54231 non-null  float64
 31  recoveries                  54231 non-null  float64
 32  collection_recovery_fee     54231 non-null  float64
 33  last_payment_date           54231 non-null  object
 34  last_payment_amount         54231 non-null  float64
 35  next_payment_date           54231 non-null  object
 36  last_credit_pull_date       54231 non-null  datetime64[ns]
 37  collections_12_mths_ex_med  54231 non-null  float64
 38  policy_code                 54231 non-null  int64
 39  application_type            54231 non-null  object
dtypes: category(2), datetime64[ns](3), float64(19), int64(8), object(8)
memory usage: 15.8+ MB
None

In [97]:
null_counts = finance_df.isnull().sum()

print(null_counts)

id                                 0
member_id                          0
loan_amount                        0
funded_amount                   3007
funded_amount_inv                  0
term                            4772
int_rate                        5169
instalment                         0
grade                              0
sub_grade                          0
employment_length               2118
home_ownership                     0
annual_inc                         0
verification_status                0
issue_date                         0
loan_status                        0
payment_plan                       0
purpose                            0
dti                                0
delinq_2yrs                        0
earliest_credit_line               0
inq_last_6mths                     0
mths_since_last_delinq         31002
mths_since_last_record         48050
open_accounts                      0
total_accounts                     0
out_prncp                          0
out_prncp_inv                      0
total_payment                      0
total_payment_inv                  0
total_rec_prncp                    0
total_rec_int                      0
total_rec_late_fee                 0
recoveries                         0
collection_recovery_fee            0
last_payment_date                 73
last_payment_amount                0
next_payment_date              32608
last_credit_pull_date              7
collections_12_mths_ex_med        51
mths_since_last_major_derog    46732
policy_code                        0
application_type                   0
dtype: int64

In [94]:
null_counts = dropped_finance_df.isnull().sum()

print(null_counts)

id                            0
member_id                     0
loan_amount                   0
funded_amount                 0
funded_amount_inv             0
term                          0
int_rate                      0
instalment                    0
grade                         0
sub_grade                     0
employment_length             0
home_ownership                0
annual_inc                    0
verification_status           0
issue_date                    0
loan_status                   0
payment_plan                  0
purpose                       0
dti                           0
delinq_2yrs                   0
earliest_credit_line          0
inq_last_6mths                0
open_accounts                 0
total_accounts                0
out_prncp                     0
out_prncp_inv                 0
total_payment                 0
total_payment_inv             0
total_rec_prncp               0
total_rec_int                 0
total_rec_late_fee            0
recoveries                    0
collection_recovery_fee       0
last_payment_date             0
last_payment_amount           0
next_payment_date             0
last_credit_pull_date         0
collections_12_mths_ex_med    0
policy_code                   0
application_type              0
dtype: int64

In [107]:
import plotly.express as px

class Plotter:
    def __init__(self, dataframe) -> None:
        self.dataframe = dataframe
    
    def plot_histogram_of_column(self, columnname):
        fig = px.histogram(self.dataframe, columnname, labels={"value": columnname})
        fig.show()


plot_before_df = Plotter(finance_df)
plot_after_df = Plotter(dropped_finance_df)

plot_before_df.plot_histogram_of_column('employment_length')

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed

In [99]:
class DataFrameTransform:
    def __init__(self, dataframe) -> None:
        self.dataframe = dataframe
        

    def impute_null_next_payment_date_inplace(self):
        column1 = 'last_payment_date'
        column2 = 'next_payment_date'
        self.dataframe[column2] = self.dataframe.apply(lambda row: row[column1] + pd.offsets.MonthBegin(1) if pd.isnull(row[column2]) else row[column2], axis=1)

    def remove_txt(self, column):
        """ 
        Removes superfluent text from column data
        """
        self.dataframe[column] = pd.to_numeric(self.dataframe[column].str.extract('(\d+)', expand=False))
    
    def impute_null_values_mean(self, columnname):
        mean_employment_length = self.dataframe[columnname].mean()
        self.dataframe[columnname].fillna(mean_employment_length, inplace=True)
    
    def impute_null_values_median(self, columnname):
        median_value = self.dataframe[columnname].median()
        self.dataframe[columnname].fillna(median_value, inplace=True)
    
    def impute_last_credit_pull_date(self):
        column1 = 'last_payment_date'
        column2 = 'last_credit_pull_date'
        self.dataframe[column2] = self.dataframe.apply(lambda row: row[column1] if pd.isnull(row[column2]) else row[column2], axis=1)
    
    def impute_last_payment_date(self):
       column1 = 'collections_12_mths_ex_med'
       self.dataframe[column1].fillna(0, inplace=True)
    
    def correct_date_format(self):
       """
       Converts the date format of all coumns that contain a date
       """
       for column_name in self.dataframe.columns:
        if 'date' in column_name.lower():
            self.dataframe[column_name] = pd.to_datetime(self.dataframe[column_name])
    
    def correct_single_date_column(self, column_name):
       self.dataframe[column_name] = pd.to_datetime(self.dataframe[column_name])


imputed_df = DataFrameTransform(dropped_finance_df)
imputed_df.correct_date_format()

In [101]:
print(finance_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54231 entries, 0 to 54230
Data columns (total 43 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           54231 non-null  int64
 1   member_id                    54231 non-null  int64
 2   loan_amount                  54231 non-null  int64
 3   funded_amount                51224 non-null  float64
 4   funded_amount_inv            54231 non-null  float64
 5   term                         49459 non-null  float64
 6   int_rate                     49062 non-null  float64
 7   instalment                   54231 non-null  float64
 8   grade                        54231 non-null  object
 9   sub_grade                    54231 non-null  object
 10  employment_length            52113 non-null  category
 11  home_ownership               54231 non-null  category
 12  annual_inc                   54231 non-null  float64
 13  verification_status          54231 non-null  object
 14  issue_date                   54231 non-null  datetime64[ns]
 15  loan_status                  54231 non-null  object
 16  payment_plan                 54231 non-null  object
 17  purpose                      54231 non-null  category
 18  dti                          54231 non-null  float64
 19  delinq_2yrs                  54231 non-null  int64
 20  earliest_credit_line         54231 non-null  datetime64[ns]
 21  inq_last_6mths               54231 non-null  int64
 22  mths_since_last_delinq       23229 non-null  float64
 23  mths_since_last_record       6181 non-null   float64
 24  open_accounts                54231 non-null  int64
 25  total_accounts               54231 non-null  int64
 26  out_prncp                    54231 non-null  float64
 27  out_prncp_inv                54231 non-null  float64
 28  total_payment                54231 non-null  float64
 29  total_payment_inv            54231 non-null  float64
 30  total_rec_prncp              54231 non-null  float64
 31  total_rec_int                54231 non-null  float64
 32  total_rec_late_fee           54231 non-null  float64
 33  recoveries                   54231 non-null  float64
 34  collection_recovery_fee      54231 non-null  float64
 35  last_payment_date            54158 non-null  datetime64[ns]
 36  last_payment_amount          54231 non-null  float64
 37  next_payment_date            21623 non-null  datetime64[ns]
 38  last_credit_pull_date        54224 non-null  datetime64[ns]
 39  collections_12_mths_ex_med   54180 non-null  float64
 40  mths_since_last_major_derog  7499 non-null   float64
 41  policy_code                  54231 non-null  int64
 42  application_type             54231 non-null  object
dtypes: category(3), datetime64[ns](5), float64(21), int64(8), object(6)
memory usage: 16.7+ MB
None