Load the data

In [5]:
import pandas as pd

def load_local_file(file_path):
    local_df = pd.read_csv(file_path)
    return local_df 
    
finance_df = load_local_file('loan_payments.csv')   
print(finance_df.head())
print(finance_df.dtypes)
print(finance_df.info())

         id  member_id  loan_amount  funded_amount  funded_amount_inv  \
0  38676116   41461848         8000         8000.0             8000.0
1  38656203   41440010        13200        13200.0            13200.0
2  38656154   41439961        16000        16000.0            16000.0
3  38656128   41439934        15000        15000.0            15000.0
4  38656121   41439927        15000        15000.0            15000.0

        term  int_rate  instalment grade sub_grade  ... recoveries  \
0  36 months      7.49      248.82     A        A4  ...        0.0
1  36 months      6.99      407.52     A        A3  ...        0.0
2  36 months      7.49      497.63     A        A4  ...        0.0
3  36 months     14.31      514.93     C        C4  ...        0.0
4  36 months      6.03      456.54     A        A1  ...        0.0

  collection_recovery_fee  last_payment_date last_payment_amount  \
0                     0.0             Jan-22              248.82
1                     0.0             Jan-22              407.52
2                     0.0             Oct-21            12850.16
3                     0.0             Jun-21            13899.67
4                     0.0             Jan-22              456.54

  next_payment_date last_credit_pull_date collections_12_mths_ex_med  \
0            Feb-22                Jan-22                        0.0
1            Feb-22                Jan-22                        0.0
2               NaN                Oct-21                        0.0
3               NaN                Jun-21                        0.0
4            Feb-22                Jan-22                        0.0

  mths_since_last_major_derog  policy_code  application_type
0                         5.0            1        INDIVIDUAL
1                         NaN            1        INDIVIDUAL
2                         NaN            1        INDIVIDUAL
3                         NaN            1        INDIVIDUAL
4                         NaN            1        INDIVIDUAL

[5 rows x 43 columns]
id                               int64
member_id                        int64
loan_amount                      int64
funded_amount                  float64
funded_amount_inv              float64
term                            object
int_rate                       float64
instalment                     float64
grade                           object
sub_grade                       object
employment_length               object
home_ownership                  object
annual_inc                     float64
verification_status             object
issue_date                      object
loan_status                     object
payment_plan                    object
purpose                         object
dti                            float64
delinq_2yrs                      int64
earliest_credit_line            object
inq_last_6mths                   int64
mths_since_last_delinq         float64
mths_since_last_record         float64
open_accounts                    int64
total_accounts                   int64
out_prncp                      float64
out_prncp_inv                  float64
total_payment                  float64
total_payment_inv              float64
total_rec_prncp                float64
total_rec_int                  float64
total_rec_late_fee             float64
recoveries                     float64
collection_recovery_fee        float64
last_payment_date               object
last_payment_amount            float64
next_payment_date               object
last_credit_pull_date           object
collections_12_mths_ex_med     float64
mths_since_last_major_derog    float64
policy_code                      int64
application_type                object
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54231 entries, 0 to 54230
Data columns (total 43 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           54231 non-null  int64
 1   member_id                    54231 non-null  int64
 2   loan_amount                  54231 non-null  int64
 3   funded_amount                51224 non-null  float64
 4   funded_amount_inv            54231 non-null  float64
 5   term                         49459 non-null  object
 6   int_rate                     49062 non-null  float64
 7   instalment                   54231 non-null  float64
 8   grade                        54231 non-null  object
 9   sub_grade                    54231 non-null  object
 10  employment_length            52113 non-null  object
 11  home_ownership               54231 non-null  object
 12  annual_inc                   54231 non-null  float64
 13  verification_status          54231 non-null  object
 14  issue_date                   54231 non-null  object
 15  loan_status                  54231 non-null  object
 16  payment_plan                 54231 non-null  object
 17  purpose                      54231 non-null  object
 18  dti                          54231 non-null  float64
 19  delinq_2yrs                  54231 non-null  int64
 20  earliest_credit_line         54231 non-null  object
 21  inq_last_6mths               54231 non-null  int64
 22  mths_since_last_delinq       23229 non-null  float64
 23  mths_since_last_record       6181 non-null   float64
 24  open_accounts                54231 non-null  int64
 25  total_accounts               54231 non-null  int64
 26  out_prncp                    54231 non-null  float64
 27  out_prncp_inv                54231 non-null  float64
 28  total_payment                54231 non-null  float64
 29  total_payment_inv            54231 non-null  float64
 30  total_rec_prncp              54231 non-null  float64
 31  total_rec_int                54231 non-null  float64
 32  total_rec_late_fee           54231 non-null  float64
 33  recoveries                   54231 non-null  float64
 34  collection_recovery_fee      54231 non-null  float64
 35  last_payment_date            54158 non-null  object
 36  last_payment_amount          54231 non-null  float64
 37  next_payment_date            21623 non-null  object
 38  last_credit_pull_date        54224 non-null  object
 39  collections_12_mths_ex_med   54180 non-null  float64
 40  mths_since_last_major_derog  7499 non-null   float64
 41  policy_code                  54231 non-null  int64
 42  application_type             54231 non-null  object
dtypes: float64(20), int64(8), object(15)
memory usage: 17.8+ MB
None

Transform Functions

In [17]:
class DataTransform:
    def __init__(self, dataframe) -> None:
        self.dataframe = dataframe
        

    def remove_txt(self, column):
        self.dataframe[column] = pd.to_numeric(self.dataframe[column].str.extract('(\d+)', expand=False))
        
        

    def correct_date_format(self):
       for column_name in self.dataframe.columns:
        if 'date' in column_name.lower():
            self.dataframe[column_name] = pd.to_datetime(self.dataframe[column_name], format='%m-%y')
    
    def correct_single_date_column(self, column_name):
       self.dataframe[column_name] = pd.to_datetime(self.dataframe[column_name], format='%m-%y')
            
    
    def type_to_category(self, column_name):
       self.dataframe[column_name] = self.dataframe[column_name].astype('category')
       

mydata = DataTransform(finance_df)

In [7]:
mydata.type_to_category('purpose')

In [13]:

finance_df.to_csv(r'C:\Users\Tom\EDS_Project_Loan_Finance\loan_payments_transformed.csv', index=False)

In [18]:
mydata.correct_date_format()

ValueError: time data "Jan-21" doesn't match format "%d/%m/%y", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [11]:
mydata.correct_single_date_column('earliest_credit_line')

C:\Users\Tom\AppData\Local\Temp\ipykernel_15648\4113723130.py:17: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  self.dataframe[column_name] = pd.to_datetime(self.dataframe[column_name])

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: Sep-01, at position 1

In [12]:
print(finance_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54231 entries, 0 to 54230
Data columns (total 43 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           54231 non-null  int64
 1   member_id                    54231 non-null  int64
 2   loan_amount                  54231 non-null  int64
 3   funded_amount                51224 non-null  float64
 4   funded_amount_inv            54231 non-null  float64
 5   term                         49459 non-null  object
 6   int_rate                     49062 non-null  float64
 7   instalment                   54231 non-null  float64
 8   grade                        54231 non-null  object
 9   sub_grade                    54231 non-null  object
 10  employment_length            52113 non-null  object
 11  home_ownership               54231 non-null  object
 12  annual_inc                   54231 non-null  float64
 13  verification_status          54231 non-null  object
 14  issue_date                   54231 non-null  object
 15  loan_status                  54231 non-null  object
 16  payment_plan                 54231 non-null  object
 17  purpose                      54231 non-null  category
 18  dti                          54231 non-null  float64
 19  delinq_2yrs                  54231 non-null  int64
 20  earliest_credit_line         54231 non-null  object
 21  inq_last_6mths               54231 non-null  int64
 22  mths_since_last_delinq       23229 non-null  float64
 23  mths_since_last_record       6181 non-null   float64
 24  open_accounts                54231 non-null  int64
 25  total_accounts               54231 non-null  int64
 26  out_prncp                    54231 non-null  float64
 27  out_prncp_inv                54231 non-null  float64
 28  total_payment                54231 non-null  float64
 29  total_payment_inv            54231 non-null  float64
 30  total_rec_prncp              54231 non-null  float64
 31  total_rec_int                54231 non-null  float64
 32  total_rec_late_fee           54231 non-null  float64
 33  recoveries                   54231 non-null  float64
 34  collection_recovery_fee      54231 non-null  float64
 35  last_payment_date            54158 non-null  object
 36  last_payment_amount          54231 non-null  float64
 37  next_payment_date            21623 non-null  object
 38  last_credit_pull_date        54224 non-null  object
 39  collections_12_mths_ex_med   54180 non-null  float64
 40  mths_since_last_major_derog  7499 non-null   float64
 41  policy_code                  54231 non-null  int64
 42  application_type             54231 non-null  object
dtypes: category(1), float64(20), int64(8), object(14)
memory usage: 17.4+ MB
None

In [4]:
finance_df.dtypes

NameError: name 'finance_df' is not defined

--Now load the converted data from the new CSV